version: '3'

services:
  prometheus-alert:
    container_name: prometheusalert
    image: feiyu563/prometheus-alert:{{ prometheus_alert_version }}
    networks:
      - "{{ prometheus_network_name }}"
    volumes:
      - {{ prometheus_alert_config_dir }}/app.conf:/app/conf/app.conf
    {%- if prometheus_alert_listen_address %}
    ports:
      - "{{ prometheus_alert_listen_address}}:8080"
    {%- endif %}

  alertmanager:
    container_name: alertmanager
    image: prom/alertmanager:{{ alertmanager_version }}
    networks:
      - "{{ prometheus_network_name }}"
    environment:
      - TZ=Asia/Shanghai
    restart: on-failure:1
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
    volumes:
      - {{ alertmanager_config_dir }}:/etc/alertmanager/
    {%- if alertmanager_web_listen_address %}
    ports:
      - "{{ alertmanager_web_listen_address}}:9093"
    {%- endif %}

networks:
  prometheus:
    name: "{{ prometheus_network_name }}"
    external: true
